* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
}

header,
footer {
  text-align: center;
  padding: 1.5rem;
}

footer {
  background-color: #333333;
  color: white;
  font-size: 1.2rem;
}

.card {
  height: 700px;
  width: 600px;
  margin: auto;
  border-radius: 20px;
  padding: 2rem;
  margin-bottom: 4rem;

  .card-top {
    background-color: #cccccc;
    height: 400px;
    font-size: 3rem;
  }

  .card-bottom {
    background-color: white;
    padding: 0.75rem;

    .btn {
      background-color: #d2a741;
      color: white;
      padding: 0.5rem 1rem;
      border: none;
    }
  }
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mt-1 {
  margin-top: 0.5rem;
}