* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
}

header,
footer {
  text-align: center;
}

footer {
  background-color: #333333;
  color: white;
}

.card {
  height: 600px;
  width: 400px;
  margin: auto;
  border-radius: 1rem;
  align-items: center;
  justify-content: center;

  .card-top {
    background-color: #cccccc;
    height: 375px;
    font-size: 3rem;
  }

  .card-bottom {
    background-color: white;
    height: 225px;
  }
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}