* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  font-family: sans-serif;
}

header,
footer {
  text-align: center;
  padding: 1.5rem;
  font-size: 1.2rem;
}

footer {
  background-color: #333333;
  color: white;
}

.container {
  width: 80%;
  margin: auto;
}

.card {
  width: 500px;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 4rem;


  .card-top {
    background-color: #cccccc;
    height: 300px;
    font-size: 5rem;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 0 3px lightgrey;
  }

  .card-bottom {
    height: 200px;
    background-color: white;
    padding: 0.75rem;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 0 3px lightgrey;

    .btn {
      background-color: #d2a741;
      color: white;
      padding: 0.5rem 1rem;
      border: none;
    }
  }
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mt-1 {
  margin-top: 1rem;
}